@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.main-wrapper a{
    color: #000;
    text-decoration: none;
}

.main-wrapper ul li{
    list-style-type: none;
    display: flex;
    margin: 0px 5px;
}
.main-wrapper ul li i{
    font-size: 12px;
    padding: 12px 0px 0px 0px;
}
.navbar{
    background: #fff;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.brand-and-icon{
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #ddd;
}

.navbar-toggler{
    display: block;
    border: none;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
    /* padding: 0.2rem 0.5rem; */
    transition: all 0.4s ease;
  
    border-radius: 4px;
}
.navbar-toggler:hover{
    opacity: 0.7;
}
.navbar-collapse{
    overflow-y: scroll;
    display: none;
}
.navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 1.1rem;
    /* font-weight: 500; */
    display: block;
   
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
}
.drop-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
    opacity: 0.7;
}

/* Media Queries */
@media screen and (min-width: 992px){
    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 5rem;
        position: relative;
    }
    .navbar-toggler{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }
    .navbar-collapse{
        display: block!important;
        overflow-y: hidden;
        flex: 1 0 auto;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav > li > a{
        border-bottom: none;
        margin: 0 0.4rem;
        
        padding: 10px 0px;
        font-size: 0.8rem;
    }


    .navbar-nav > li{
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s ease;
    }
    .navbar-nav > li:hover{
        border-bottom-color: #000;
    }

}

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #474747;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* margin-top: 38px; */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #9b9a9a;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
    
    color: #ddd !important;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  